import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
/*
.headerPrincipal{
   
}*/
.header-cabe{
    /*background-color: #f6e5e5a5;*/
    font-family: font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(234, 243, 249);/*
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
}
.logo{
    background-image:url(../img/logomld.png);
}
.logo-pres{
    display: flex;
    flex-direction:column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    }
  .anima{
    /*display: flex;*/
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:2;
    /*margin: auto;
    text-align: center;*/
    animation-direction: alternate;
     z-index: 3;
  }
  
  .slidein {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    /*animation-direction: alternate;*/
  }
  
  @keyframes slidein {
    from {
      opacity: 10%;
      margin-left:100%;
      width:30%
    }
  
    to {
      opacity: 100%;
     margin-left:0%;
     width:100%;
     align-items: center;
   }
  }
  
.navbar {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    font-family:'Yanone Kaffeesatz', sans-serif;  
}
.nav-list {
    display: inline-block;
    font-size: 20px;
    list-style: none;
    vertical-align: bottom;
       }
.list-item {
    display: inline-block;
    padding: 35px 10px; 
    padding-bottom: 1px;
    border-radius: 5px;
    transition: .5s;
    /*border-left: 4px solid #33b6e559;*/
}
.navbar a {
    color: rgb(56, 55, 55);
    font-weight: 200;
    text-decoration: none;
}

.navbar a:hover {
    /*color: rgb(147, 147, 40);*/
    /*text-shadow: #f4efefae;*/
    color: rgba(227, 27, 74, 0.805);
    border-left: 5px solid #2407b159;
    transition: .5s;
}
.top-bar ul {
    display: inline-block;
    list-style: none;
}
.top-bar li {
    display: inline-block;
    margin: 0px 15px;
}
@media screen and (max-width: 768px) {
    .menu{
            display: none;
    }
    
  }
  @media screen and (max-width: 480px) {
    .menu{
        display: none;

    }
        
  }