.footer{
    height: 15vh;
    display: flex;
    background-color: black;
    color: aliceblue;
    /*padding-left: 20px;*/
    align-content: right;
   vertical-align: center;
    
  }

.foot-list{

    padding: 20px; 
} 

.foot-list-item{  
    display: inline;
    transition: .5s;
}
p{
    align-content: center;
    padding: 3% 28%;
}