.campo-texto{
    margin: 24px 0;
    padding:10px;

}
.campo-texto label{
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 0px;
    display: block;
   
}
.campo-texto input{
    width: 100%;
    background-color: aliceblue;
    border:none;
    padding: 10px 5px;
    outline-color: chartreuse;
    color: rgb(105, 108, 108);
    box-shadow: 3px 3px 5px;
    box-sizing: border-box;
}